<!DOCTYPE html>
<html>
<title>Staff and Human Resource Manager Login</title>
<head>
    <link href="static/css/register.css" rel="stylesheet">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">

<head>
    <link href="static/css/register.css" rel="stylesheet">
</head>



<body>

    <div class="w3-main" style="margin-left:250px;">

        <header class="w3-container w3-theme" style="padding:64px 32px" align="center">
          <h1 class="w3-xxxlarge">Staff and Human Resource Manager Login</h1>
        </header>
        
        </div> 

<div id="forms">
    <div class="container">
         <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
               
            {{ form.hidden_tag() }}       
                <p> <h3>{{ form.username.label }}</h3></br>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> <h3>{{ form.password.label }}</h3></br>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> <h3>{{ form.password_confirm.label }}</h3></br>
                    {{ form.password_confirm }}
                    {% for error in form.password_confirm.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> 
                    <h4>{{ form.submit() }}</h4>
                </p>
            
        </fieldset>
        </form>
    </div>
    </div>
    </body>
</html>