<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<body class="w3-container">
    <h1 class="register-heading" align="center">Update Employee Details</h1>





<div id="forms">
   
    <div class="container">
         <form name="login" action="" method="post" novalidate>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><br>
               
                <hr><br>
                    <div class="row register-form">
                        <div class="col-md-6">    
                        {{ form.hidden_tag() }}
                       
                        <div class="form-group", align="center">
                            <label align="center"><h2> {{ form.firstname.label }} </h2></label>
                            {{ form.firstname }}
                            {% for error in form.firstname.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %} 
                        </div> <br>
                        

                        <div class="form-group", align="center">
                            <label align="center"><h2>{{ form.lastname.label }}</h2></label>
                            {{ form.lastname }}
                            {% for error in form.lastname.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br> <br> <br> 

                        <div class="w3-display-left">                       
                            <label align="center"><h2>{{ form.age.label }}</h2></label>
                            {{ form.age }}
                            {% for error in form.age.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br> 

                        <div class="w3-display-right">
                        
                            <label align="center"><h2>{{ form.gender.label }}</h2></label>
                            {{ form.gender }}
                            {% for error in form.gender.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br> <br> 

                        <div class="form-group">
                            <label align="left"><h3>{{ form.designation.label }}</h3></label>
                            {{ form.designation }}<br>
                            {% for error in form.designation.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br>
                        
                        <div class="form-group">
                            <label align="left"><h3>{{ form.department.label }}</h3></label>
                            {{ form.department }}
                            {% for error in form.department.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br>

                    </div>
                    <div class="col-md-4">
                    <div class="form-group">
                        <label align="left"><h3>{{ form.email.label }}</h3></label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div> <br>

                        <div class="form-group">
                            <label align="left"><h3>{{ form.address.label }}</h3></label>
                            {{ form.address }}
                            {% for error in form.address.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br>
                        
                        
                        <div class="form-group">
                            <label align="left"><h3>{{ form.basic.label }}</h3></label>
                            {{ form.basic }}
                            {% for error in form.basic.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br>
                        <div class="form-group">
                            <label align="left"><h3>{{ form.pf.label }}</h3></label>
                            {{ form.pf }}
                            {% for error in form.pf.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div> <br>
                        <div class="form-group">
                            <label align="left"><h3>{{ form.mf.label }}</h3></label>
                            {{ form.mf }}
                            {% for error in form.mf.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %} <br>
                        </div>
                        </div>
                        <label align="center">
                           <h1> {{ form.submit() }}</h1>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div> 

